rabbitmq:
  version: "3.5.3-1"
  plugin:
    rabbitmq_management:
      - enabled
    rabbitmq_management_visualiser:
      - enabled
    rabbitmq_federation:
      - enabled
    rabbitmq_federation_management:
      - enabled
  vhost:
    - /
    - live
  user:
    admin:
      - password: admin
      - tags: administrator
      - perms:
        - '/':
          - '.*'
          - '.*'
          - '.*'
        - 'live':
          - '.*'
          - '.*'
          - '.*'
  policy:
    rabbitmq_policy:
      - name: HA
      - pattern: '.*'
      - definition: '{"ha-mode": "all"}'
  exchange:
    input:
      - vhost: live
      - type: topic
  queue:
    output:
      - vhost: live
      - durable: True
  binding:
    queue_1:
      - vhost: live
      - source: input
      - destination: output
      - routing_key: '#'
      - destination_type: queue
  parameter:
    upstream-m1:
      - vhost: live
      - component: federation-upstream
      - value: '{"uri":"amqp://admin:admin@10.2.2.3}'
