%% -*- mode: erlang -*-
%% ----------------------------------------------------------------------------
%% RabbitMQ Sample Configuration File.
%%
%% See http://www.rabbitmq.com/configure.html for details.
%% ----------------------------------------------------------------------------
[
  {rabbit,
    [
      {loopback_users, []},

      %% By default, RabbitMQ will listen on all interfaces, using
      %% the standard (reserved) AMQP port.
      %%
      {tcp_listeners, [5672]},

      %% SSL listeners are configured in the same fashion as TCP listeners,
      %% including the option to control the choice of interface.
      %%
      {ssl_listeners, [5671]},

      %% Configuring SSL.
      %% See http://www.rabbitmq.com/ssl.html for full documentation.
      %%
      {ssl_options, [{cacertfile,           "/etc/rabbitmq/ssl/wwca/cacert.pem"},
                     {certfile,             "/etc/rabbitmq/ssl/cert.pem"},
                     {keyfile,              "/etc/rabbitmq/ssl/key.pem"},
                     {verify,               verify_none},
                     {fail_if_no_peer_cert, false}]}
    ]}
].